a
{
	text-decoration: none;
}
body
{
	font-family: tahoma, verdana, arial;
	font-size: 100%;
	margin: 0;
}
header,
footer
{
 	margin:0;
	background-color: #4758a8;
	color: #fff;
}

img
{
	width: 100%;
	height: auto;
}
#form-login form label
{
	color:#4758a8; 
}
#form-login form label, #form-login form input
{
	display: block;
}

footer p
{
	margin: 0;
	text-align: right;
	padding: .5em;
}
footer p a
{
	font-family: tahoma, verdana, arial;
	font-size: 80%;
	font-weight: bold;
	color: #fff;
}

#usuario, #clave
{
	width: 100%;	
}
#main-container
{
	border: thin solid #4758a8;
	border-radius: 1em;
	margin: 0 auto;
	overflow: hidden;
	width: 95%;
}
#contenido
{
	margin: 0;
}
#info-contenido
{
	display: table;
	width: 100%;
}

#form-login {
	background: url(../img/login_sibe.jpg) no-repeat;
	font-size: .8em;
	height: 303px;
	margin: 3em auto;
	padding: 0 2em 0 0;
	width: 396px;
}

#form-login form
{
	width: 180px;
	margin: 3em;
	margin-left: 160px;
	padding-top: 5.5em;
}
#form-login form label,
#form-login form input
{
	margin: -.009em 0;
}
#form-login form button
{
	background-color:#4758a8; 
	color:#FFF; 
	height:30px;
	margin: 1em 5.5em;
	width:110px; 
}
#form-login p
{
	text-align: center;
	font-size: x-small;
	width: 100%;
}
#form-login form button:hover
{
	background-color: #888;
}
#form-login p a#registro:hover
{
	color: #888;
}

.fila
{
	display:table-row;
	width: 100%;
}
.col
{
	vertical-align: top;
	display: table-cell;
}
#menu
{
	background-color:#4758a8; 
	margin: 0;
	padding: 0;
	width: 15%;
	/* min-height: 2000px; */
	/* float: left; */
	
}
#info
{
	width: 85%;
	margin: 0;
	padding: 1em 0em 0em 3em;
/*	height: 100%;*/
	min-height: 810px;
	float: left;
}

#info, #menus {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

#ui-datepicker-div
{
	font-size: .8em;
}
.noticias
{
	
	max-width: 80%;
	margin: 0 auto;

}

.noticias p
{

	font-size: 11pt !important;

}

.noticias .noticia
{

	margin: 3em 0;
	border-top: thin solid #bbb;

}

.noticias .noticia img
{
	max-width: 30%;
	height: 170px;
	margin-right: 1em;
	float: left;
}