<span style='color: #000'>940 frames</span>	<span style='color: #900'>25,600 KB</span>	<span style='color: #090'>629.52 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />